server:
  port: 9000

spring:
  application:
    name: auth-server
  # datasource configured in DatabaseConfig.java to handle special characters in password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  h2:
    console:
      enabled: false

logging:
  level:
    org.springframework.security: INFO
    org.springframework.jdbc: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.henry.myauthserver: DEBUG
